

.App {
  text-align: center;
  
}


html,
body {

}
h1 {
  font-family: 'Do Hyeon', sans-serif;
}
div, p {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background: #ff9e21;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}


.testSt {
  background-color: white;
  color: blue;
  margin: 10px;
  font-family: Arial;
  text-align: center;
}

.numbering {
  display: None;
}

ul {
  list-style: none;
  padding: 0;
}

li {
    display:inline-block;
}


:checked {
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid blue;
}

.resultName {
  color: darkslateblue;
}


